/* 

AppSquare - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/
/* Page Navi*/
.wp-pagenavi {padding:0; font-size:12px; margin:0 0 0 0; clear:both}
.wp-pagenavi .pages{
	padding:4px 8px;
	margin-right:4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
.wp-pagenavi a, .wp-pagenavi a:visited{
	padding:4px 8px;
	 margin:0 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
.wp-pagenavi .current{
	padding:4px 8px;
	 margin:0 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	font-weight:bold
 }



/* ABOUT PAGE */
.i-social img{margin-right:5px;}



/* BLOG */
.post{margin-bottom:50px; padding:0 0 75px 0; clear:both;
	background:url(../images/shadow-small.png) no-repeat left bottom;

}
.post.singlepage{padding-bottom:30px;}
.postimg{
	margin:0 0 20px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:6px;
}

.postimg img{display:block;}
.posttitle{margin:0 0 6px 0}
.posttitle, .posttitle a{font-size:16px; font-weight:400; line-height:24px;}
.posttitle a:hover{text-decoration:none;}
.entry-utility{padding:7px 0; margin-bottom:20px;}
.entry-utility .comm{float:right;}
.entry-content{padding:0 0 0 0;}
.more-link{font-style:italic;}

#comment h4{}
.commentlist{
	list-style-type:none;
	padding:0;
	margin:0 0 40px 0;
}
.commentlist ol{
	list-style-type:none;
	padding:10px 0 0 90px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 10px 0;
	margin-bottom:20px;
}
.commentlist li li{
	position:relative;
	padding:0;
	margin:0
}

.avatar-img{
	position:absolute;
	top:4px;
	left:0;
}
.avatar{display:block}
.fn{font-size:12px; font-style:normal;}
.tdate{padding-left:20px;}
.tdate, .reply{ font-size:10px;}
.reply a, .reply a:visited{}
.reply a:hover{text-decoration:underline;}
.fn a, .fn a:visited{}

.comment-body{margin:0 0 0 90px; }
.comment-body p{ margin-bottom:5px; margin-top:10px;}
.comment-body .more{ padding:0px 0px;}
#commentform {margin-bottom:20px}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
}
#commentform .textarea{
	margin-bottom:20px;
}

/* PORTFOLIO */
.ts-display-portfolio{padding-bottom:20px}
.ts-display-portfolio li{position:relative;}
.ts-display-pf-img{position:relative;}
.ts-display-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-display-pf-text{padding:9px 0;}
.ts-display-pf-text h2{font-family: "Open Sans", Arial, sans-serif; font-size:14px; margin-bottom:4px;}
.ts-display-pf-text h2 a, .ts-display-pf-text h2 a:visited{}

.ts-display-pf-img{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:6px;
	
}
.ts-display-pf-img a.image{
	display:block;
	position:relative;
	overflow:hidden;
}
.ts-display-pf-img a .rollover{
	background:url(../images/hover-zoom.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}
.ts-display-pf-img a .rollover.gotolink{
	background:url(../images/hover-link.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
}
.ts-display-pf-img a .rollover.gotopost{
	background:url(../images/hover-doc.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
}

/*======= Portfolio Navigation =======*/
#filter{
	list-style-type:none;
	margin:0 0 20px 0;
	padding:0 0 25px 0;
	position:relative;
	text-align:center;
	width:100%;
	background:url(../images/shadow-filternav.png) no-repeat bottom center;
	
	
}
#filter li{list-style-type:none; padding:0 5px; line-height:31px; display:inline; display:inline-block; font-family:'Open Sans', Arial;}
#filter li a, #filter li a:visited{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:4px 8px;
}
#filter li a:hover, #filter li.selected-1 a{text-decoration:none; padding:4px 8px}


/*======= Portfolio Item =======*/
.ts-display-pf-col-4{list-style-type:none; padding:0; margin:0; clear:both}
.ts-display-pf-col-4 li{
	list-style-type:none; 
	padding:0; 
	margin:0 20px 20px 0; 
	width:220px; 
	float:left;
}
.ts-display-pf-col-4 .ts-display-pf-img img{display:block; max-width:100%;}

.ts-display-pf-col-4 li.nomargin{margin-right:0;}

.ts-display-pf-col-4 .ts-display-pf-img{
	width:208px; 
	height:100%;
}

.ts-display-pf-col-4 .ts-display-pf-img a.image{
	width:208px;  
	height:100%;
	display:block;
	position:relative;

}
.ts-display-pf-col-4 .ts-display-pf-img a .rollover{
	width:208px;  
	height:100%;
}
.image-grid:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	margin:0;
	padding:0;
	list-style-type:none;
}




/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0; position:relative; }
#contactform label{padding:0 0 0 0; margin:0 0 0 0; line-height:35px; vertical-align:top;}
span.required{ color:#888;}
span.error{color:red;text-align:left; font-size:11px; padding-bottom:15px; display:block;}
#contactform input.text-input{
	margin-bottom:5px;
	vertical-align:middle;
	width:40%;
	padding:12px 5px
}
#contactform textarea{ width:95%; float:left; padding:12px 5px} 
#message{ margin-left:0px; font-weight:bold; color:#ff0000}
#message h2	{}
#message p{margin:6px 0px; }
#contactform .button{
	cursor:pointer;
	margin-top:20px;
	clear:both;
 }
